body { /*Setter opp grid*/
    margin: 1px;
    background-image: url(images/hode.jpg); /* Bilde fra: https://unsplash.com/photos/MAgPyHRO0AA */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto ;
    grid-gap: 5px 5px;
    grid-template-areas: "header header"
                         "menu menu"
                         "main main"
                         "footer footer";
}
.box{ /*Setter noen krav jeg ønsker at skal gjelde for hele nettsiden*/
    text-align: center;
    padding: 10px;

}
header{ /*Fra her og i #hovedoverskrift har jeg designet headeren*/
    grid-area: header;
    /*background-image: url(images/hode.jpg); Kunne satt inn bakgrunnsbilde her for å få kun på header, men ønsker å ha samme for hele nettsiden så har satt det under body*/
    height: 150%;
    color: black;
    font-size: x-large;
    font-family: "Comic Sans MS",Cursive, sans-serif;
}
#hovedoverskrift { 
    text-decoration: none;
    color: black;
}
menu{ /*her har jeg designet for meny delen, med grid-area for å sette opp grid*/
    grid-area: menu;
    background-color:  rgb(51, 51, 54); 
    margin: 2%;
}
main{ /*her har jeg designet for hoveddelen, med grid-area for å sette opp grid. Jeg har også lagt innholdet som flex.*/
    grid-area: main;
    background-color:  rgb(51, 51, 54);
    margin-left: 3%;
    background-image: url(images/artikkelbakgrunn.jpg); /* Bilde fra: https://unsplash.com/photos/GI1hwOGqGtE */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-items: space-evenly;
    align-items: stretch;
}
aside{ /*her har jeg designet for sidedelen, med grid-area for å sette opp grid*/
    grid-area: aside;
    background-color:  rgb(51, 51, 54);
    color: white;
    margin-right: 6%;
    margin-left: 2%;
}
footer{ /*her har jeg designet for foten, med grid-area for å sette opp grid*/
    grid-area: footer;
    background-color: rgb(51, 51, 54);
    color: white;
    margin: 2%;
}
#meny { /*Herfra til .flex har jeg stilen til menyen, jeg har egen seksjon med id "meny" ettersom seksjonen er i css flex men menyen som helhet er del av. Var da lettere å få menyen slik jeg ønsket med egen seksjon.*/
    display: flex;
    list-style-type: none;
    overflow: hidden;
    flex-direction: row;
}
.menyflex:hover{
    background-color:  rgb(134, 134, 143);
    cursor: pointer;
    text-decoration: underline;
}
.menyflex {
    display: block;
    color: white;
    text-decoration: none;
    font-size: larger;
    padding: 20px;
}
.flex { /*.flex er id`en til seksjonene i hoveddelen.*/
    color: white;
    text-align: center;
    padding: 50px;
} 
.artiklene { 
    background-color: rgb(51, 51, 54);
    text-align: center;
    padding: 2px;
    width: 700px;
    flex-grow: 1;
}
.artikkeloverskrift { /*Hvordan artikkeloverskriftene skulle være*/
    text-shadow: 3px 3px 0 rgb(32, 43, 107);
    font-size:25px;
    background-color: rgb(51, 51, 54);
    text-align: center;
}
.artikkelskrift { /*Ønsket mindre størrelse på skriften i artiklene*/
    font-size: medium;
}
.lesmer { /*Ønsket at der man trykker for å lese mer ikke skulle være blå.*/
    color: white;
}
.lesmer:hover{ /*Endre farge når en holder over der man skal trykke for å lese mer.*/
    background-color: rgb(124, 124, 133);
}
.illustrasjon { /*Størrelsen på bildene*/
    width: 40%;
}
.flex2 { /*Hvordan jeg vil at overskriftene på side-delen skal være*/
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 3px 3px 0 rgb(32, 43, 107);
}
video { /*Målene for videoen.*/
    height: 60%;
    width: 80%;
    float: center;
}
#side2 { /*Gjør side-delen til flex.*/
    display: flex;
    flex-direction: column;
}
.asideliste { /*Her og ned til #knapp er designet til opplistningen av nettsider på side-delen.*/
    display: block;
    color: white;
    text-decoration: none;
}
#asidenav { 
    list-style-type: none;
    overflow: hidden;
    padding: 3px;
}
.asideliste:hover{
    display: block;
    background-color:  rgb(64, 61, 68);
    text-decoration: underline;
}
#knapp { /*Her og neste er designet til knappen.*/
    border: 1px;
    background-color: black;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
#knapp:hover{
    background-color: white;
    color: black;
}